/* .background1 {
    background-image: url(./assets/quotecropped.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
} */

.background1 {
    background-color: aqua;
}

/* #countdown {
    font-size: 500px;
    text-align: center;
    margin-top: 0px;
}

.small{
    font-size: 30px;
}

.big{
    font-size: 100px;
} */

.heading-one {
    color: white;
    text-align: center;
}

.music-section {
    display: flex;
    justify-content: center;
}

.music-box{
    border:1px solid white;
    width: 100px;
    color: white;
    margin-top: 180px;
}

.music-content{
    text-align: center;
}

.hover-me {
    border:15px solid black;
}

.hovering-now {
    border : 15px solid white;
    background-color: red;
    color:purple;
}

.btn-brown {
    background-color:brown;
}

.btn-yellow{
    background-color: yellow;
    margin-top: 20px;
}

.watch-img{
    width: 500px;
    height: 500px;
}

.margin-info {
    margin-top: 75px;
}